body{
    text-align: center;
    font-family: Helvetica;
  }
  .lines{
    margin: 1.5em auto 5.1em;
  }
  .lines:after{
    content:"";
    display: flex;
    clear:both;
  }
  .lineColor{
    width: 33%;
    float: left;
  }
  .lineColor select{
    box-shadow: none;
    border: 2px solid #1cbbbb;
    border-radius: 5px;
  }
  .lineColor select:focus{
    outline: none;
  }
  .colorSelect{
    color: #fff;
  }
  
  .black{
    background-color: black;
  }
  .brown{
    background-color: brown;
  
  }
  .red{
    background-color: red;
  
  }
  .orange{
    background-color: orange;
  
  }
  .yellow{
    background-color: yellow;
  
  }
  .green{
    background-color: green;
  }
  .blue{
    background-color: blue;
  
  }
  .slogan{
    margin: 2em;
    border: 2px solid tan;
    border-radius: 20px;
    width: 50%;
    height: 7em;
    margin-left: 25%;
  }
  #slog{
    background-image: linear-gradient(to right, tan 20%,
      #fff 20% 23%, tan 23% 40%, #fff 40% 43%, tan 43% 60%,
      #fff 60% 63%, tan 63% 87%, gold 87% 90%, tan 90%);
      margin-bottom: 3em;
  }
  .final{
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
    border: 2px solid teal;
  }
  .final:after{
    content: "";
    display: grid;
    clear: both;
  }
  .find{
    width: 40%;
    float: left;
    color: teal;
  }
  #start{
    margin-top: 2.5em;
    color: #fff;
    background-color: teal;
    border: 1px solid teal;
    border-radius: 2px;
    padding: 4px 6px;
    font-weight: bold;
    cursor: pointer;
  }
 